:root {
  --scale: 100%;
  --background-sepia: antiquewhite;
  --font-sepia: #333;
  --background-dark: #03080f;
  --font-dark: #fafafa;
  --background-light: #fafafa;
  --font-light: #0a0a0a;
}

html {font-size: var(--scale)} /*16px*/

body {
  background-color: var(--background-sepia);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: var(--font-sepia);
  padding: 3rem;
  margin: 0 auto 1.15rem auto;
  max-width: 32rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

.ft0 {
  font-size: 5rem;
}

h1 {
  margin: auto 0 inherit auto;
  font-size: 3.052em;
}

h2, .ft17 {font-size: 2.441em;}

h3, .ft20 {font-size: 1.953em;}

h4, .ft11 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

.ft1 {
  font-weight: 700;
}

#controls {
  position: fixed;
  bottom: 1em;
  right: 1.15em;
  display: flex;
  flex-direction: column;
}

#controls > button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border-width: 0;
  box-shadow: 2px 2px 4px #00000040;
  margin-bottom: 4px;
  cursor: pointer;
}

#controls-light {
  background-color: var(--background-light);
  color: var(--font-light);
}

#controls-sepia {
  background-color: var(--background-sepia);
  color: var(--font-sepia);
}

#controls-dark {
  background-color: var(--background-dark);
  color: var(--font-dark);
}